{# filepath: templates/store/detail.twig #}
{% extends "layout.twig" %}

{% block content %}
	<div class="product-detail">
		<div class="row">
			<div class="col-md-6">
				<img src="{{ picturePath }}/{{ storeItemDetail.storeItem.product.detail.picture }}" alt="{{ storeItemDetail.storeItem.product.detail.name }}" class="product-image img-fluid">
			</div>
			<div class="col-md-6">
				<h1>{{ storeItemDetail.storeItem.product.detail.name }}</h1>
				<p class="product-price">${{ storeItemDetail.storeItem.product.detail.price|number_format(2, '.', ',') }}</p>
				<a data-id="{{ storeItemDetail.storeItem.product.id }}" href="#" class="btn btn-add btn-primary">Agregar al carrito</a>
				<a href="{{ basePath }}/store" class="btn btn-secondary mt-2">Volver a la tienda</a>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-12">
				<h3>Descripción</h3>
				<p class="product-description">{{ storeItemDetail.storeItem.product.detail.description }}</p>
				{# Aquí puedes agregar más detalles si es necesario #}
			</div>
		</div>
	</div>
	 <script>
			
			document.querySelector('.btn-add').addEventListener('click', function(event) {
				event.preventDefault();
				const productId = this.getAttribute('data-id');
				// Aquí puedes agregar la lógica para agregar el producto al carrito
				console.log('Producto agregado al carrito:', productId)
				addToCart(productId);
			});
			function addToCart(productId) {
				// Aquí puedes agregar la lógica para agregar el producto al carrito
				console.log('Producto agregado al carrito:', productId);
				fetch('{{ basePath }}/api/cart/add', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ product_id: productId })
				})
				.then(res => res.json())
		    .then(data => {
		        console.log(data);
		        location.reload();
		    })
		    .catch((e) => {
		        console.error('Error:', e);
		        alert('Error al actualizar el carrito')
	        });
		}
		</script>
{% endblock %}
